/* CartPage.module.css */
.container {
    background-color: #F9FAFB; /* secondaryColor */
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.cartContainer {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #F9FAFB; /* secondaryColor */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadowColor */
    padding: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #AF5D24; /* primaryColor */
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* shadowColor */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.th {
    background-color: #E0E0E0;
    color: #333; /* textColor */
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #BDBDBD;
}

.td {
    padding: 1rem;
    border-bottom: 1px solid #E0E0E0;
}

.productName {
    color: #333; /* textColor */
}

.price {
    color: #43A047; /* Vert pour le prix */
}

.quantityContainer {
    display: flex;
    align-items: center;
}

.quantityButton {
    background-color: #E0E0E0; /* quantityButtonColor */
    color: #616161; /* quantityTextColor */
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.quantityInput {
    width: 3rem;
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 0.25rem;
    margin: 0 0.5rem;
    color: #333; /* textColor */
}

.total {
    font-weight: bold;
    color: #AF5D24; /* primaryColor */
}

.actionsButton {
    background-color: #D32F2F; /* actionButtonColor */
    color: #F9FAFB; /* secondaryColor */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.actionsButton:hover {
    background-color: #B71C1C; /* Rouge plus foncé */
}

.cartActions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearCartButton {
    background-color: #FFC107; /* clearCartButtonColor */
    color: #333; /* textColor */
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.clearCartButton:hover {
    background-color: #F57F17; /* Jaune ambré plus foncé */
}

.checkoutButton {
    background-color: #1976D2; /* checkoutButtonColor */
    color: #F9FAFB; /* secondaryColor */
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.checkoutButton:hover {
    background-color: #0D47A1; /* Bleu plus foncé */
}

.emptyCartText {
    color: #333; /* textColor */
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
}