.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Montserrat', sans-serif; /* Utilisez la même police que CheckoutPage si vous le souhaitez */
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    color: #333; /* textColor */
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* shadowColor */
    font-family: 'Montserrat', sans-serif; /* Utilisez la même police */
    color: #333; /* textColor */
    outline: none; /* Supprime l'outline par défaut pour un style personnalisé */
}

.input:focus {
    border-color: #64B5F6; /* focusRingColor */
    box-shadow: 0 0 0 0.2rem rgba(100, 181, 246, 0.25); /* focusRingColor avec opacité */
}

.errorText {
    color: #D32F2F; /* errorColor */
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif; /* Utilisez la même police */
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cancelButton {
    background-color: #E0E0E0;
    color: #333; /* textColor */
    font-weight: bold;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* Utilisez la même police */
    transition: background-color 0.2s ease-in-out;
}

.cancelButton:hover {
    background-color: #BDBDBD;
}

.saveButton {
    background-color: #AF5D24; /* primaryColor */
    color: #F9FAFB; /* secondaryColor */
    font-weight: bold;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* Utilisez la même police */
    transition: background-color 0.2s ease-in-out;
}

.saveButton:hover {
    background-color: #8C4B1A;
}

.saveButton:disabled,
.cancelButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}