/* EditProfileForm.module.css */
.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errorText {
    color: #d32f2f;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.input:focus {
    outline: none;
    border-color: #AF5D24; /* Couleur primaire */
    box-shadow: 0 0 0 0.2rem rgba(175, 93, 36, 0.25); /* Couleur primaire légère */
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.cancelButton,
.saveButton {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cancelButton {
    background-color: #e0e0e0;
    color: #333;
}

.cancelButton:hover {
    background-color: #bdbdbd;
}

.saveButton {
    background-color: #AF5D24; /* Couleur primaire */
    color: #fff;
}

.saveButton:hover {
    background-color: #8C4B1A; /* Assombrissement */
}

.saveButton:disabled,
.cancelButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}